@import "~@/assets/styles/_vars.scss";

//Light
@font-face {
  font-family: 'Metropolis';
  src: url($font_path + 'Metropolis-Light.woff2')format('woff2') ;
  font-weight: 200;
  font-style: normal;
}

//Regular
@font-face {
  font-family: 'Metropolis';
  src: url($font_path + 'Metropolis-Regular.woff2')format('woff2') ;
  font-weight: 400;
  font-style: normal;
}

//Semibold
@font-face {
  font-family: 'Metropolis';
  src: url($font_path + 'Metropolis-Medium.woff2')format('woff2') ;
  font-weight: 500;
  font-style: normal;
}

//Bold
@font-face {
  font-family: 'Metropolis';
  src: url($font_path + 'Metropolis-SemiBold.woff2')format('woff2') ;
  font-weight: 600;
  font-style: normal;
}

//Monospaced font
//Regular
@font-face {
  font-family: 'roboto-mono';
  src: url($font_path + 'roboto-mono-regular.woff2')format('woff2') ;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'roboto-mono';
  src: url($font_path + 'roboto-mono-bold.woff2')format('woff2') ;
  font-weight: 500;
  font-style: normal;
}


h1{ font-family:$sw-font-family; font-size:32px; font-weight:200; letter-spacing:normal; }
h2{ font-family:$sw-font-family; font-size:28px; font-weight:200; letter-spacing:normal; }
h3{ font-family:$sw-font-family; font-size:22px; font-weight:200; letter-spacing:normal; }
h4{ font-family:$sw-font-family; font-size:18px; font-weight:200; letter-spacing:normal; }
h5{ font-family:$sw-font-family; font-size:16px; font-weight:200; letter-spacing:normal; }
h6{ font-family:$sw-font-family; font-size:14px; font-weight:200; letter-spacing:normal; }
